* {
    margin: 0;
    padding: 0;
}
.navcolor {
    background-color: #e3f2fd;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#myHeading img {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
body {
    background-color: #f9f9f9;
}

.form{
  width: 480px;
}
