* {
    margin: 0;
    padding: 0;
    
}
.navcolor {
    background-color: #F3F3F3;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#myHeading img {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
body {
    background-color: #F3F3F3;
}

.form {
    width: 480px;
}

.alert {
    text-align: center;
    position: fixed;
    top: -60px;
    animation: enter-leave 3s ease-in-out;
    left: calc(50% - 150px);
    margin: 1rem auto;
    padding: 10px 2px;
    width: 300px;
}

@keyframes enter-leave {
    0% {
        top: -60px;
    }
    3% {
        top: 16px;
    }
    92.5% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes colorSlide {
    0% {
        background-color: #152a68;
    }
    25% {
        background-color: royalblue;
    }
    50% {
        background-color: seagreen;
    }
    75% {
        background-color: tomato;
    }
    100% {
        background-color: #152a68;
    }
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer a{
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer a:visited{
    text-decoration: none;
}

.landing{
    background-color: #F3F3F3;
    background-image: url("../public/landingpage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
}


.dashboard {
    margin: 0;
    height: 100vh;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
}

.note {
    margin: 10px;
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    background-color: #F1EFEF;
}

.notes {
    margin: 1rem 2rem;
    display: inline-flex;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    column-count: 5;
    column-span: all;
}

.loading {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}