* {
    margin: 0;
    padding: 0;
}
.navcolor {
    background-color: #f3f3f3;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#myHeading img {
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
}
body {
    background-color: #f3f3f3;
}

.form {
    width: 480px;
}

.alert {
    text-align: center;
    position: fixed;
    top: -60px;
    animation: enter-leave 3s ease-in-out;
    left: calc(50% - 150px);
    margin: 1rem auto;
    padding: 10px 2px;
    width: 300px;
}

@keyframes enter-leave {
    0% {
        top: -60px;
    }
    3% {
        top: 16px;
    }
    92.5% {
        top: 16px;
    }
    100% {
        top: 16px;
    }
}
.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    animation: colorSlide 15s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes colorSlide {
    0% {
        background-color: #152a68;
    }
    25% {
        background-color: royalblue;
    }
    50% {
        background-color: seagreen;
    }
    75% {
        background-color: tomato;
    }
    100% {
        background-color: #152a68;
    }
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer a {
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:visited {
    text-decoration: none;
}

.landing {
    background-color: #f3f3f3;
    background-image: url('../public/landingpage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 85vh;
}

.note {
    float: left;
    margin: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #e0e0e0;
    background-color: #f1efef;
    border-radius: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.wel-username {
    margin-left: 30px   ;
}

.notes {
    box-sizing: border-box;
    margin: 0 auto;
}

.loading {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.note:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.date {
    font-size: 12px;
    color: #808080;
    margin: 0;
    padding: 0;
}

.note-form {
    position: static;
    right: 20px;
    width: 500px;
    margin: 60px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 30px;
    background-color: #f1efef;
    margin-bottom: 3rem;
}

input {
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f3f3f3;
}

.inp {
    width: 90%;
    margin: 0 auto;
}

.inside-note {
    padding: 0;
}

.Main {
    margin: 0 auto;
    width: 90%;
}

.Load-screen {
    color: #808080;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 4rem;
}

.category {
    font-size: 0.8em; /* adjust as needed */
    padding: 2px 5px;
    margin: 2px;
    background-color: #f3f3f3; /* adjust as needed */
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    cursor: pointer;
    color: #808080;
    font-weight: bold;
}

.category:hover {
    background-color: #e0e0e0;
}

.inlineBlock {
    display: inline-block;
}

.date {
    float: right;   
}